<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<oracle.manageddataaccess.client>
		<version number="*">
			<!--<dataSources>
				<dataSource alias="ORCL.world" descriptor="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.1.7)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = orcl)))"/>				
			</dataSources>-->
		</version>
	</oracle.manageddataaccess.client>
</configuration>